<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.hintofbasil.crabbler">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <service android:name="com.github.hintofbasil.crabbler.BackgroundDataPost.DataPostProcessService" />

        <activity
            android:name="com.github.hintofbasil.crabbler.Questions.QuestionActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="com.github.hintofbasil.crabbler.AboutUsActivity" />
        <activity android:name="com.github.hintofbasil.crabbler.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>