<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.hintofbasil.crabbler">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <receiver android:name=".BackgroundDataPost.DataPostAutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".BackgroundDataPost.DataPostLaunchService"
            android:enabled="true" />

        <receiver android:name=".BackgroundDataPost.DataPostAlarm" />

        <service android:name=".BackgroundDataPost.DataPostProcessService" />

        <activity
            android:name=".Questions.QuestionActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".Settings.SettingsActivity" />
        <activity android:name=".LaunchDataAmend"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
